<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="/standard.css">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Bus App</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <a class="homeButton" href="/">JackMapper</a>-->
<!--</header>-->


<!--<h2 th:text=${t1}></h2>-->
<!--<div th:each="bus : ${morayWay}">-->
<!--    <p th:text="${bus.getInfo}"></p>-->
<!--</div>-->
<!--<h2 th:text=${t2}></h2>-->
<!--<div th:each="bus : ${belleVue}">-->
<!--    <p th:text="${bus.getInfo}"></p>-->
<!--</div>-->
<!--<h2 th:text=${t3}></h2>-->
<!--<div th:each="bus : ${collierRow}">-->
<!--    <p th:text="${bus.getInfo}"></p>-->
<!--</div>-->

<!--<br>-->


<!--</body>-->
<!--</html>-->