<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/css/standard.css">
    <style>
    a {
    font-size: 1.5em;
    font-weight: bolder;
     display: block;
    }

    </style>
</head>
<body>

<header>
    <h1>Bus App</h1>
</header>


<a class="buttons" href="getBusesToRomford">Buses --> Romford</a>
<h3 th:text=${t1}></h3>
<div th:each="bus : ${morayWay}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3 th:text=${t2}></h3>
<div th:each="bus : ${belleVue}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3 th:text=${t3}></h3>
<div th:each="bus : ${collierRow}">
    <p th:text="${bus.getInfo}"></p>
</div>




<a class="buttons" href="getBusesToHome">Buses --> home</a>
<h3 th:text=${t4}></h3>
<div th:each="bus : ${romfordStation}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3 th:text=${t5}></h3>
<div th:each="bus : ${westernRoad}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3 th:text=${t6}></h3>
<div th:each="bus : ${romfordMarket}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3 th:text=${t7}></h3>
<div th:each="bus : ${romfordPoliceStation}">
    <p th:text="${bus.getInfo}"></p>
</div>



<a class="buttons" href="getRomfordTrains">Romford Trains --> London</a>
<div th:each="Train : ${romfordTrains}">
    <p th:text="${Train.getRailInfo}"></p>
</div>

<a class="buttons" href="getStratfordToHAITrains">Stratford trains --> Highbury And Islington</a>
<div th:each="Train : ${StratfordToHAITrains}">
    <p th:text="${Train.getInfo}"></p>
</div>

<br>
<br>

<a class="buttons" href="getHAItoStratfordTrains">Highbury And Islington trains --> stratford</a>
<div th:each="Train : ${HAItoStratfordTrains}">
    <p th:text="${Train.getInfo}"></p>
</div>

<a class="buttons" href="getLiverpoolStreetTrains">Liverpool Street Trains --> Romford</a>
<div th:each="Train : ${liverpoolStreetTrains}">
    <p th:text="${Train.getRailInfo}"></p>
</div>

<a class="buttons" href="getStratfordTrains">Stratford Trains --> Romford</a>
<div th:each="Train : ${stratfordTrains}">
    <p th:text="${Train.getRailInfo}"></p>
</div>






</body>
</html>
