<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/css/standard.css">
    <style>
    a {
    font-size: 1.5em;
    font-weight: bolder;
     display: block;
    }
    </style>
</head>
<body>

<header>
    <h1>Bus App</h1>
</header>


<a class="buttons" href="getBusesToRomford">Buses towards Romford</a>

<h3>Moray Way</h3>
<div th:each="bus : ${morayWay}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3>Belle Vue Road</h3>
<div th:each="bus : ${belleVue}">
    <p th:text="${bus.getInfo}"></p>
</div>
<h3>Collier Row Roundabout</h3>
<div th:each="bus : ${collierRow}">
    <p th:text="${bus.getInfo}"></p>
</div>

<br>


<a class="buttons" href="getBusesToHome">Buses towards home</a>

<h3>Romford Station</h3>
<div th:each="bus : ${romfordStation}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Western Road</h3>
<div th:each="bus : ${westernRoad}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Romford Market</h3>
<div th:each="bus : ${romfordMarket}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Romford Police Station</h3>
<div th:each="bus : ${romfordPoliceStation}">
    <p th:text="${bus.getInfo}"></p>
</div>

<a class="buttons" href="getRomfordTrains">Romford Trains to London</a>
<div th:each="tflTrain : ${romfordTrains}">
    <p th:text="${tflTrain.getRailInfo}"></p>
</div>

<a class="buttons" href="getStratfordTrains">Stratford Trains to Romford</a>
<div th:each="tflTrain : ${stratfordTrains}">
    <p th:text="${tflTrain.getRailInfo}"></p>
</div>

<a class="buttons" href="getLiverpoolStreetTrains">Liverpool Street Trains to Romford</a>
<div th:each="tflTrain : ${liverpoolStreetTrains}">
    <p th:text="${tflTrain.getRailInfo}"></p>
</div>


<a class="buttons" href="getHAITrains">Stratford trains to Highbury And Islington</a>
<div th:each="tflTrain : ${HAITrains}">
    <p th:text="${tflTrain.getInfo}"></p>
</div>
<a class="buttons" href="getHAItoStratfordTrains">Highbury And Islington trains to stratford</a>
<div th:each="tflTrain : ${HAItoStratfordTrains}">
    <p th:text="${tflTrain.getInfo}"></p>
</div>


</body>
</html>
