<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/css/standard.css">
</head>


<body>
<header>
    <h1>Bus App</h1>
</header>

<a class="buttons" href="getBuses">get buses</a>
<a class="buttons" href="getRomfordTrains">get Romford Trains</a>
<a class="buttons" href="getStratfordTrains">get Stratford Trains</a>
<a class="buttons" href="getLiverpoolStreetTrains">get Liverpool Street Trains</a>
<a class="buttons" href="getHAITrains">get Highbury And Islington Trains</a>

<h2> Towards romford</h2>

<h3>Moray Way</h3>
<div th:each="bus : ${morayWay}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Belle Vue Road</h3>
<div th:each="bus : ${belleVue}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Collier Row Roundabout</h3>
<div th:each="bus : ${collierRow}">
    <p th:text="${bus.getInfo}"></p>
</div>

<br>
<h2>Towards Home</h2>

<h3>Romford Station</h3>
<div th:each="bus : ${romfordStation}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Western Road</h3>
<div th:each="bus : ${westernRoad}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Romford Market</h3>
<div th:each="bus : ${romfordMarket}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h3>Romford Police Station</h3>
<div th:each="bus : ${romfordPoliceStation}">
    <p th:text="${bus.getInfo}"></p>
</div>

<h2>Romford trains to London</h2>
<div th:each="tflRailTrain : ${romfordTrains}">
    <p th:text="${tflRailTrain.getInfo}"></p>
</div>

<h2>Stratford trains to Romford</h2>
<div th:each="tflRailTrain : ${stratfordTrains}">
    <p th:text="${tflRailTrain.getInfo}"></p>
</div>

<h2>Liverpool Street trains to Romford</h2>
<div th:each="tflRailTrain : ${liverpoolStreetTrains}">
    <p th:text="${tflRailTrain.getInfo}"></p>
</div>

<h2>Stratford trains to Highbury And Islington</h2>
<div th:each="tflTrain : ${HAITrains}">
    <p th:text="${tflTrain.getInfo}"></p>
</div>


</body>
</html>
